<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 3 - Verify</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="welcome">
	<div id="progress-bar">
		<ul>
			<li>1</li>
			<li>2</li>
			<li class="active">3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
    
    <div id="code-message">
    	Please enter the 4 digit code received on your phone <br>
    </div>
    <div id="code-subtext">
        <span>Status: <span id="verify-status">Waiting for user input</span></span>
        <input type="text" id="code-number" pattern="[0-9]{4}">
    	<input type="button" value="Verify" id="code-button">
    </div>

    <div id="quit-button">
        Quit
    </div>
<!-- Importing JavaScript Files -->
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/functions.js"></script>
</body>
</html>