<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 1 - Welcome</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="welcome">
	<div id="progress-bar">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li class="active">5</li>
		</ul>
	</div>
    
    <div id="finish-message">
    	YOUR VOICE HAS BEEN HEARD!
    </div>
    <div id="finish-subtext">
    	Your voice has been input into our secure database so <br>
    	that changes you want in your neighborhood can be <br>
    	accomplished.
    </div>
    
    <div id="quit-button">
        Quit
    </div>
<!-- Importing JavaScript Files -->
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/functions.js"></script>
</body>
</html>