<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 1 - Welcome</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="welcome">
	<div id="progress-bar">
		<ul>
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
    
    <div id="welcome-message">
    	Welcome to Redhook Community Pool where our goal is to make voices <br>
    	like yours heard. Weekly surveys located at this kiosk proactively cover <br>
    	local issues and provide anonymous information to elected officials and <br>
    	community leaders.
    </div>
    <div id="welcome-subtext">
    	Continue to begin voting!
    	<input type="submit" value="Begin!" href="adf.html" id="welcome-continue">
    </div>
    
    <div id="quit-button">
        Quit
    </div>
<!-- Importing JavaScript Files -->
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/functions.js"></script>
</body>
</html>